- name: Add review.opencontrail.org remote
  shell: git remote add gerrit https://review.opencontrail.org/Juniper/{{ item }}
  args:
    chdir: "{{ ansible_env.HOME }}/src/review2.opencontrail.org/Juniper/{{ item }}"
  failed_when: False
  with_items:
    - contrail-controller
    - contrail-build

- name: Fetch all remotes
  shell: git fetch --all
  args:
    chdir: "{{ ansible_env.HOME }}/src/review2.opencontrail.org/Juniper/{{ item }}"
  with_items:
    - contrail-controller
    - contrail-build

- name: Change contrail-packages to custom repo
  shell: |
    git remote add kklimonda https://github.com/kklimonda/contrail-packages
    git fetch --all
    git reset --hard kklimonda/feature/zuulv3
  args:
    chdir: "{{ ansible_env.HOME}}/src/review2.opencontrail.org/Juniper/contrail-packages/"
